body{
    font-family: Montserrat, sans-serif;
}
h1{
    text-align: center;
    font-family: "Indie flower", sans-serif;
}
div.upper{
    background-color:#9A8C98;
}
section{
    background-color:#C9ADA7;
    
}
div.breakfast img{
    float:right;
}

nav li{
    list-style-type: none;
    display: inline;
}
ul.list{
    color:teal;
}


